<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.student.StudentDao">
	<resultMap type="com.exam.student.StudentVo" id="studentMap">
		<id property="stuNo" column="stu_no"/>
		<result property="stuName" column="stu_name"/>
		<result property="stuScore" column="stu_score"/>
	</resultMap>


  <select id="selectStudentList" resultMap="studentMap">
   SELECT stu_no, stu_name, stu_score FROM student
   ORDER BY stu_no
  </select>
  
  <select id="detailStudent" parameterType="string" resultMap="studentMap">
   SELECT stu_no, stu_name, stu_score 
   FROM student 
   WHERE stu_no = #{stuNo}
  </select>

  <insert id="insertStudent" parameterType="com.exam.student.StudentVo">
  	INSERT INTO student
  	(stu_no, stu_name, stu_score)
	VALUES (#{stuNo}, #{stuName}, #{stuScore})
  </insert>  

  <delete id="deleteStudent" parameterType="string">
  	DELETE FROM student WHERE stu_no = #{stuNo}
  </delete> 
  
  <update id="modifyStudent" parameterType="com.exam.student.StudentVo">
  	UPDATE student 
  	SET stu_name = #{stuName}, stu_score= #{stuScore}
  	WHERE stu_no = #{stuNo}
  </update>
  
  
</mapper>