<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.student.StudentDao">
	<resultMap type="com.exam.student.StudentVo" id="studentMap">
		<id property="stu_no" column="stu_no"/>
		<result property="stu_name" column="stu_name"/>
		<result property="stu_score" column="stu_score"/>
	</resultMap>


  <select id="selectStudentList" resultMap="studentMap">
   SELECT stu_no, stu_name, stu_score FROM student
  </select>
  
  <select id="detailStudent" parameterType="string" resultMap="studentMap">
   SELECT stu_no, stu_name, stu_score 
   FROM student 
   WHERE stu_no = #{stu_no}
  </select>

  <insert id="insertStudent" parameterType="com.exam.student.StudentVo">
  	INSERT INTO student
  	(stu_no, stu_name, stu_score)
	VALUES (#{stu_no}, #{stu_name}, #{stu_score})
  </insert>  

  <delete id="deleteStudent" parameterType="string">
  	DELETE FROM student WHERE stu_no = #{stu_no}
  </delete> 
  
  <update id="modifyStudent" parameterType="com.exam.student.StudentVo">
  	UPDATE student 
  	SET stu_name = #{stu_name}, stu_score= #{stu_score}
  	WHERE stu_no = #{stu_no}
  </update>
  
  
</mapper>